.wbdv-hidden{
    display: none;
}
.container {
    margin-top:25px;
}
.wbdv-logout {
    float: right;
}

@media screen and (min-width: 801px){
    #wbdv-mySearchInput { display: block; }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    #wbdv-mySearchInput { display: none; }
}